*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/pole2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    width: 25vh;
    height: 20vh;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-linky{
    flex: 1;
    text-align: right;
}
.nav-linky ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-linky ul li a{
    color: azure;
    text-decoration: none;
    font-size: 20px;
}

.nav-linky ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: chartreuse;
    display: block;
    margin: auto;
    transition: 1;
}

.nav-linky ul li:hover::after{
    width: 100%;
}

.ramcek{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}

.ramcek h1{
    font-size: 62px;
}
.ramcek p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: cornsilk;
}

.kontakt{
    display: inline-block;
    text-decoration: none;
    color: cornsilk;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.kontakt:hover{
    border: 1px solid greenyellow;
    background: green;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .ramcek h1{
        font-size: 20px;
    }
    .nav-linky ul li{
        display: block;
    }
    .nav-linky{
        position: absolute;
        background: green;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-linky ul{
        padding: 30px;
    }
}

.stroje{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: back;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.poda{
    flex-basis: 41%;
    background:rgb(123, 189, 123);
    border: black;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
}

.poda:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
